<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Čítanie na dnes</title>
    <style>
      body {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: 100%;
        max-width: 1200px;
        margin: auto auto;
        padding: 5%;
      }
    </style>
  </head>
  <body>
    <h1><center>Čítanie na dnes</center></h1>
    
    <section>
      <%- reflection %>
    </section>
  </body>
</html>